<!DOCTYPE html>
<br>
<head lang="en">
    <meta charset="UTF-8">
    <title>Movie List</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Movie List</h1>

    <a href="/movie_list/add">Add a movie</a>
    <br>
    <br>
    {% for movie in movies %}
            <div class="movie_table">
                <b>{{ movie.title }}</b>
                <br>
                <br>
                <img src="{{ movie.picture }}"/>
                <br>
                <b>Directed by</b> {{ movie.director }}
                <br>
                <b>Crew:</b> {{ movie.actors }}
                <br>
                {{ movie.synopsis }}
                <br>
                Rating: {{ movie.rating }}
                <br>
                <div class="rate_element">
                    <form action="/movie_list/{{ movie.key.id() }}/rate" method="post" id="myform">
                        <input type="radio" name="rating" id="str5" value="1" onclick="this.form.submit()"/>
                        <input type="radio" name="rating" id="str4" value="2" onclick="this.form.submit()" />
                        <input type="radio" name="rating" id="str3" value="3" onclick="this.form.submit()" />
                        <input type="radio" name="rating" id="str2" value="4" onclick="this.form.submit()" />
                        <input type="radio" name="rating" id="str1" value="5" onclick="this.form.submit()" />
                    </form>
                </div>
                <br>
                <br>
            </div>
        {% endfor %}
</body>
</html>
